.table {
  min-width: 898px;
  width: 100%;

  &--big {
    .table__line {
      .table__item:first-child {
        text-align: left;
        padding-left: 20px;
      }
    }

    .table__header {
      .table__line {
        .table__item:last-child {
          text-align: center;
        }
      }
    }

    .table__item {
      &:nth-child(1) {
        width: 30%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 20%;
      }

      &:nth-child(5) {
        width: 10%;
      }
    }
  }

  &__header {
    .table__line {
      &:nth-child(odd) {
        background-color: $white;
      }
    }

    .table__item {
      font-weight: 600;
    }
  }

  &__body {
    overflow: hidden;
  }

  &__line {
    background-color: $white;

    &:nth-child(odd) {
      background-color: #F4F8FF;
    }

    &:nth-child(even) {
      border-left: 1px solid #F4F8FF;
      border-right: 1px solid #F4F8FF;
    }

    &:first-child {
      .table__item {
        &:first-child {
          border-radius: 10px 0 0 0;
        }

        &:last-child {
          border-radius: 0 10px 0 0;
        }
      }
    }

    &:last-child {
      .table__item {
        &:first-child {
          border-radius: 0 0 0 10px;
        }

        &:last-child {
          border-radius: 0 0 10px 0;
        }
      }
    }

    .table__item:first-child {
      text-align: center;
    }

    &--info {
      display: none;
      .table__item:first-child {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
      }

      &.visible {
        display: table-row;
      }
    }
  }

  &__item {
    width: 10%;
    padding: 20px 0;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $grayDark;

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 25%;
    }

    &--bold {
      font-weight: 600;
    }

    &--approved {
      color: $green;
    }

    &--rejected {
      color: $red;
    }

    &--wait {
      color: $blue;
    }

    &--confirm {
      color: $gray;
    }

    &--row {
      display: flex;
      align-items: center;
      gap: 10px;
      picture {
        flex-shrink: 0;
      }
    }

    &--fixed {
      width: 140px !important;
    }
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: flex;
      width: 39px;
      height: 39px;
      fill: $blue;
    }

    span {
      position: absolute;
      top: 52%;
      left: 50%;
      font-family: $font-second;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-align: center;
      color: $blue;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    &--strong {
      font-weight: 600;
    }
  }

  &--center {
    .table__item {
      text-align: center;
      justify-content: center;
    }
  }

  &--between {
    .table__item {
      width: auto;
    }
  }

  &--control {
    th:last-child {
      text-align: right;
    }
    .table__item {
      vertical-align: middle;
      &:nth-child(1) {
        width: 8%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: auto;
      }
      &:nth-child(4) {
        width: auto;
      }
      &:last-child {
        width: 14%;
        & > * {
          text-align: right;
          padding-right: 32px;
        }
      }
    }
  }

  &__visible {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: scroll;

  .table {
    width: unset;

    &__item {
      min-width: 100px;

      &--rightborder {
        border-right: 1px solid $gray;

        & + .table__item {
          padding-left:10px;
        }
      }
    }
  }
}