.footer {
  background-color: $grayDark;
  background-image: url("../assets/images/footer-pattern.svg");
  background-repeat: no-repeat;
  background-position: center top 15px;

  @include r($mobile) {
    background-size: 100%;
  }

  &__wrapper {
    display: flex;
    padding: 60px 0 20px;
    min-height: 260px;
    height: 100%;

    @include r($mobile) {
      justify-content: center;
      padding: 40px 0 20px;

      .text {
        text-align: center;
      }
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 13px;
    height: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    color: $white;
  }

  &__logos {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

  &__logo {
    display: flex;
    width: 129px;
    height: 60px;

    &--cms {
      width: 139px;
      height: 42px;
    }

    &--ministry {
      width: 108px;
      height: 42px;
    }
  }
}
