<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Обратная связь</h2>
                    </div>
                    <a href="#" class="button button--slim">Создать обращение</a>
                </div>
                <div class="lk-content__body">
                    <div class="head head--lk">
                        <h2 class="title title--block">Мои обращения</h2>
                    </div>
                    <table class="table table--big">
                        <thead class="table__header">
                        <tr class="table__line">
                            <th class="table__item table__item--head">Тема</th>
                            <th class="table__item table__item--head">Дата создания</th>
                            <th class="table__item table__item--head">Статус</th>
                            <th class="table__item table__item--head">Тип</th>
                            <th class="table__item table__item--head">Переписка</th>
                        </tr>
                        </thead>
                        <tbody class="table__body">
                        <tr class="table__line">
                            <td class="table__item">Не следует, однако забывать</td>
                            <td class="table__item">03.06.2024</td>
                            <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                            <td class="table__item table__item--bold">Помощь</td>
                            <td class="table__item table__item--chat">
                                <a href="#" class="chat chat--message">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                    <span class="chat__note">1</span>
                                </a>
                            </td>
                        </tr>
                        <tr class="table__line">
                            <td class="table__item">Рамки и место обучения кадров</td>
                            <td class="table__item">01.06.2023</td>
                            <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                            <td class="table__item table__item--bold">Жалоба</td>
                            <td class="table__item">
                                <a href="#" class="chat">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr class="table__line">
                            <td class="table__item">Задача организации, в особенности</td>
                            <td class="table__item">01.05.2023</td>
                            <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                            <td class="table__item table__item--bold">Отпуск</td>
                            <td class="table__item">
                                <a href="#" class="chat chat--close">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr class="table__line">
                            <td class="table__item">Не следует, однако забыват</td>
                            <td class="table__item">01.07.2022</td>
                            <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                            <td class="table__item table__item--bold">Помощь</td>
                            <td class="table__item">
                                <a href="#" class="chat chat--close">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr class="table__line">
                            <td class="table__item">Рамки и место обучения кадров</td>
                            <td class="table__item">01.03.2022</td>
                            <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                            <td class="table__item table__item--bold">Помощь</td>
                            <td class="table__item">
                                <a href="#" class="chat chat--close">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr class="table__line">
                            <td class="table__item">Не следует, однако забывать</td>
                            <td class="table__item">01.01.2024</td>
                            <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                            <td class="table__item table__item--bold">Жалоба</td>
                            <td class="table__item">
                                <a href="#" class="chat chat--close">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr class="table__line">
                            <td class="table__item">Задача организации, в особенности</td>
                            <td class="table__item">11.01.2024</td>
                            <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                            <td class="table__item table__item--bold">Отпуск</td>
                            <td class="table__item">
                                <a href="#" class="chat chat--close">
                                    <svg class="chat__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-chat"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
