.lk-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 68px 30px 55px 146px;

    @include r($mobile) {
      gap: 30px;
      padding: 20px 12px 20px 13px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/pattern-bg.png");
      background-size: 274px 294px;
      opacity: .3;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2px;
      width: calc(100% - 60px);
      transform: translateX(-50%);
      background: $gray;

      @include r($mobile) {
        width: calc(100% - 26px);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 68px 30px 80px 146px;

    @include r($mobile) {
      padding: 40px 12px 60px 13px;
    }
  }

  &__table {
    overflow-x: auto;
    min-height: 100vh;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }

  &--bg {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/pattern-bg.png");
      background-size: 274px 294px;
      opacity: .3;
      z-index: 0;
    }
  }

  &--notations {
    .lk-content__body {
      padding-left: 56px;

      @include r($mobile) {
        padding-left: 13px;
      }

      .head {
        padding-left: 90px;

        @include r($mobile) {
          padding-left: 0;
        }
      }
    }
  }

  &__outer {
    margin-left: -115px;
    display: grid;
    grid-template-columns: 1fr 16fr;
    gap: 60px 30px;
    z-index: 3;

    &-left {
      display: flex;
      width: 100%;

      .form__item {
        width: 100%;
      }
    }

    &-right {
      display: flex;
      justify-content: space-between;

      label {
        span {
          display: block;
          flex: 0 1;
          flex-basis: auto;
          gap: 0;
          padding: 2px 5px 6px;
          height: 27px;
          font-family: $font-main;
          font-size: 16px;
          font-weight: 600;
          line-height: 21.86px;
          text-align: center;
          border-radius: 6px;
          color: $grayDark;
          cursor: pointer;
          z-index: 3;
        }

        input:checked + span {
          background: $gray;
        }

        input:disabled + span {
          color: #b9d0ff;
          cursor: default;
        }
      }
    }
  }
}