.lk-list {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 32px;
  overflow-x: auto;
  z-index: 1;

  &__item {
    flex-shrink: 0;

    &.active {
      .lk-list__link {
        background-color: #B9D0FF;
      }
    }

    &.feature {
      .lk-list__link {
        color: $gray;
        pointer-events: none;
      }
    }
  }

  &__link {
    padding: 2px 6px 5px;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: center;
    color: $grayDark;
    border-radius: 6px;
    cursor: pointer;
  }

  &__select {
    min-width: 86px;

    @include r($mobile) {
      min-width: 110px;
    }

    span.select__current {
      width: 100%;
      text-align: center;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  &--outer {
    gap: 0;
    justify-content: space-between;
    margin-left: -116px;
  }

  &--mob {
    justify-content: space-between;
  }
}