.lk-user {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;

  @include r($mobile) {
    flex-direction: column;
    gap: 20px;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    border: 1px solid $green;

    @include r($mobile) {
      width: 110px;
      height: 110px;
    }

    img {
      display: block;
      width: 194px;
      height: 194px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;

      @include r($mobile) {
        width: 99px;
        height: 99px;
      }
    }
  }
}