<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section pt-68 pb-100">
        <div class="container">
            <div class="head">
                <h2 class="title">Восстановление пароля</h2>
            </div>
            <div class="columns">
                <div class="columns__col-7">
                    <div class="info info--deny mb-40">
                        <div class="info__detail">
                            <h2 class="title title--block">Аккаунт  не найден</h2>
                            <p class="text">
                                К сожалению, мы не обнаружили аккаунт с такой электронной почтой. Попробуйте ещё раз.
                            </p>
                        </div>
                    </div>
                    <a href="#" class="form__button button button--slim">Назад</a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
