.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 55px 30px 68px;
  border: 1px solid $gray;
  border-radius: 25px;

  @include r($mobile) {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  @include shadow-color-small();

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 606px;

    @include r($mobile) {
      align-items: flex-start;
      gap: 10px;
    }
  }

  .addresses {
    @include r($mobile) {
      width: 100%;
    }
  }

  &--accept {
    .title {
      color: $green;
    }
  }

  &--deny {
    .title {
      color: $red;
    }
  }
}