.text {
  position: relative;
  @include text($black, $font-second);
  z-index: 1;

  &--light {
    color: $white;
  }

  &--link {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      font-family: $font-main;
      font-size: 16px;
      font-weight: 600;
      line-height: 21.86px;
      color: $blue;
      text-decoration: underline;
    }
  }

  &--gray {
    color: rgb(66, 65, 60);
  }

  &__icon {
    &-mail {
      width: 37px;
      position: relative;
      top: 42px;
    }

    &-mail img {
      width: 27px;
    }

    &-bell {
      width: 29px;
      position: relative;
      top: 41px;
      left: -20px;
    }

    &-bell img {
      width: 25px;
    }
  }
}