<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section pt-68 pb-100">
        <div class="container">
            <div class="head">
                <h2 class="title">Восстановление пароля</h2>
            </div>
            <div class="columns">
                <div class="columns__col-7">
                    <div class="editor mb-40">
                        <p>
                            Введите новый пароль.
                        </p>
                    </div>
                    <form class="form">
                        <label class="form__item">
                            <span class="password-block">
                                <input type="password" class="input">
                                <button class="password-block__btn" type="button">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-eye"></use>
                                        <use hidden xlink:href="./assets/sprite.svg#icon-eye-close"></use>
                                    </svg>
                                </button>
                            </span>
                            <span>Пароль</span>
                            <span class="form__error">Пожалуйста, введите пароль</span>
                        </label>
                        <label class="form__item">
                            <span class="password-block">
                                <input type="password" class="input">
                                <button class="password-block__btn" type="button">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-eye"></use>
                                        <use hidden xlink:href="./assets/sprite.svg#icon-eye-close"></use>
                                    </svg>
                                </button>
                            </span>
                            <span>Повторите пароль</span>
                            <span class="form__error">Пароль не совпадает</span>
                        </label>
                        <button class="form__button button button--slim">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
