<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content lk-content--bg lk-content--notations">
                <div class="lk-content__body">
                    <div class="head">
                        <h1 class="title">Новые уведомления</h1>
                    </div>
                    <div class="columns mb-60">
                        <div class="columns__col-12">
                            <div class="article-notation">
                                <div class="article-notation__info">
                                    <h2 class="title title--block">Нет новых уведомлений</h2>
                                </div>
                            </div>
                        </div>
                        <div class="columns__col-12">
                            <div class="article-notation active">
                                <div class="article-notation__picture">
                                    <svg class="article-notation__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-notation"></use>
                                    </svg>
                                </div>
                                <div class="article-notation__info">
                                    <h2 class="title title--block">От: Рассылка</h2>
                                    <p class="article-notation__title">Тема: Нововведения</p>
                                    <p class="article-notation__text">
                                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и
                                        уточнения модели развития. Задача организации, в особенности же начало повседневной
                                        работы по формированию позиции играет важную роль в формировании направлений
                                        прогрессивного развития.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns__col-12">
                            <div class="article-notation active">
                                <div class="article-notation__picture">
                                    <svg class="article-notation__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-mail-2"></use>
                                    </svg>
                                </div>
                                <div class="article-notation__info">
                                    <h2 class="title title--block">От: Пётр Иванов / Модератор</h2>
                                    <p class="article-notation__title">Тема: Редактирования отчёта от 25.07.2024</p>
                                    <p class="article-notation__text">
                                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и
                                        уточнения модели развития. Задача организации, в особенности же начало повседневной
                                        работы по формированию позиции играет важную роль в формировании направлений
                                        прогрессивного развития.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="head">
                        <h1 class="title">Архив уведомлений</h1>
                    </div>
                    <div class="columns">
                        <div class="columns__col-12">
                            <div class="article-notation">
                                <div class="article-notation__picture">
                                    <svg class="article-notation__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-notation"></use>
                                    </svg>
                                </div>
                                <div class="article-notation__info">
                                    <h2 class="title title--block">От: Рассылка</h2>
                                    <p class="article-notation__title">Тема: Нововведения</p>
                                    <p class="article-notation__text">
                                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и
                                        уточнения модели развития. Задача организации, в особенности же начало повседневной
                                        работы по формированию позиции играет важную роль в формировании направлений
                                        прогрессивного развития.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns__col-12">
                            <div class="article-notation">
                                <div class="article-notation__picture">
                                    <svg class="article-notation__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-mail-2"></use>
                                    </svg>
                                </div>
                                <div class="article-notation__info">
                                    <h2 class="title title--block">От: Рассылка</h2>
                                    <p class="article-notation__title">Тема: Нововведения</p>
                                    <p class="article-notation__text">
                                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и
                                        уточнения модели развития. Задача организации, в особенности же начало повседневной
                                        работы по формированию позиции играет важную роль в формировании направлений
                                        прогрессивного развития.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns__col-12">
                            <div class="article-notation">
                                <div class="article-notation__picture">
                                    <svg class="article-notation__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-notation"></use>
                                    </svg>
                                </div>
                                <div class="article-notation__info">
                                    <h2 class="title title--block">От: Рассылка</h2>
                                    <p class="article-notation__title">Тема: Нововведения</p>
                                    <p class="article-notation__text">
                                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и
                                        уточнения модели развития. Задача организации, в особенности же начало повседневной
                                        работы по формированию позиции играет важную роль в формировании направлений
                                        прогрессивного развития.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="columns__col-12">
                            <div class="article-notation">
                                <div class="article-notation__picture">
                                    <svg class="article-notation__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-notation"></use>
                                    </svg>
                                </div>
                                <div class="article-notation__info">
                                    <h2 class="title title--block">От: Рассылка</h2>
                                    <p class="article-notation__title">Тема: Нововведения</p>
                                    <p class="article-notation__text">
                                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и
                                        уточнения модели развития. Задача организации, в особенности же начало повседневной
                                        работы по формированию позиции играет важную роль в формировании направлений
                                        прогрессивного развития.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
