.switcher {
  cursor: pointer;
  input:checked {
    & ~ .switcher__block {
      border-color: $green;
      .switcher__item {
        background-color: $green;
        left: 20px;
      }
    }
  }

  &__block {
    position: relative;
    display: flex;
    width: 42px;
    height: 22px;
    border-radius: 30px;
    border: 2px solid $grayDark;
    background-color: $grayLight;
    transition: .2s linear;
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 2px;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: $grayDark;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: .2s linear;
  }
}