.search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $grayDark;

  input {
    display: flex;
    padding: 16px 18px;
    width: 100%;
    height: 100%;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: $grayDark;
  }
}