.section {
  &--bg {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/pattern-bg.png");
      background-size: 274px 294px;
      opacity: .3;
      z-index: 0;
    }
  }
}