.nav {
  display: flex;
  align-items: center;
  gap: 30px;

  @include r($mobile) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 27px;
    padding-left: 56px;
    height: 50vh;
    overflow-y: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;

    span {
      font-family: $font-main;
      font-size: 16px;
      font-weight: 600;
      line-height: 21.86px;
      text-align: left;
      color: $white;
      transition: .2s linear;
    }

    &.active {
      span {
        color: $green;
      }
      .nav__icon,
      .nav__chevrone {
        fill: $green;
      }
    }

    &:hover {
      span {
        color: #438afe;
      }

      .nav__icon,
      .nav__chevrone {
        fill: #438afe;
      }
    }

    &--menu {
      position: relative;

      @include r($mobile) {
        row-gap: 23px;
        flex-wrap: wrap;
      }

      &:hover {
        .nav__submenu {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
        }
      }
    }
  }

  &__icon {
    fill: $grayLight;
    transition: .2s linear;
  }

  &__chevrone {
    display: flex;
    width: 16px;
    height: 9px;
    fill: $white;
    transition: .2s linear;
  }

  &__submenu {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    width: max-content;
    min-width: 160px;
    padding: 30px 18px;
    background-color: $white;
    border-radius: 25px;
    border: 1px solid $grayLight;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    transition-delay: .2s;
    z-index: 2;

    @include shadow-color-small();

    @include r($mobile) {
      position: static;
      padding: 0 0 0 64px;
      align-items: flex-start;
      min-width: 100%;
      border: none;
      background-color: transparent;
      transform: none;
      opacity: 1;
      visibility: visible;
      box-shadow: none;
    }
  }

  &__inner-link {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: center;
    color: $grayDark;
    transition: .2s linear;

    @include r($mobile) {
      color: $white;
    }

    &:hover {
      color: $blue;
    }
  }
}
