<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk head--lk-column">
                        <h2 class="title">Документы</h2>
                        <div class="head__control">
                            <a href="#" class="button button--blue">Добавить документ</a>
                            <a href="#" class="button button--green">Сохранить изменения</a>
                        </div>
                    </div>
                    <ul class="lk-list lk-list--to-bottom mob-hidden">
                        <li class="lk-list__item active">
                            <a href="#" class="lk-list__link">Инструкции</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Образцы документов</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Бланки</a>
                        </li>
                    </ul>
                </div>
                <div class="lk-content__body">
                    <div class="lk-content__table">
                        <table class="table table--between">
                            <thead class="table__header">
                            <tr class="table__line">
                                <th class="table__item table__item--head">ID</th>
                                <th class="table__item table__item--head">Заголовок</th>
                                <th class="table__item table__item--head">Дата загрузки</th>
                                <th class="table__item table__item--head">Статус</th>
                                <th class="table__item table__item--head">Удалить </th>
                            </tr>
                            </thead>
                            <tbody class="table__body">
                            <tr class="table__line">
                                <td class="table__item">0007</td>
                                <td class="table__item">Название документа</td>
                                <td class="table__item">02.07.2024</td>
                                <td class="table__item table__item--fixed table__item--row">
                                    <form action="#" class="form">
                                        <label class="form__item form__item--row" data-switcher>
                                            <span class="switcher">
                                                <input hidden="" type="checkbox" checked="">
                                                <span class="switcher__block">
                                                    <span class="switcher__item"></span>
                                                </span>
                                            </span>
                                            <span data-switcher-text>Вкл.</span>
                                        </label>
                                    </form>
                                </td>
                                <td class="table__item">
                                    <form action="#" class="remove-form">
                                        <button class="remove-form__button">
                                            <svg class="icon">
                                                <use xlink:href="./assets/sprite.svg#icon-remove"></use>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">0007</td>
                                <td class="table__item">Название документа</td>
                                <td class="table__item">02.07.2024</td>
                                <td class="table__item table__item--fixed table__item--row">
                                    <form action="#" class="form">
                                        <label class="form__item form__item--row" data-switcher>
                                            <span class="switcher">
                                                <input hidden="" type="checkbox" checked="">
                                                <span class="switcher__block">
                                                    <span class="switcher__item"></span>
                                                </span>
                                            </span>
                                            <span data-switcher-text>Вкл.</span>
                                        </label>
                                    </form>
                                </td>
                                <td class="table__item">
                                    <form action="#" class="remove-form">
                                        <button class="remove-form__button">
                                            <svg class="icon">
                                                <use xlink:href="./assets/sprite.svg#icon-remove"></use>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">0007</td>
                                <td class="table__item">Название документа</td>
                                <td class="table__item">02.07.2024</td>
                                <td class="table__item table__item--fixed table__item--row">
                                    <form action="#" class="form">
                                        <label class="form__item form__item--row" data-switcher>
                                            <span class="switcher">
                                                <input hidden="" type="checkbox" checked="">
                                                <span class="switcher__block">
                                                    <span class="switcher__item"></span>
                                                </span>
                                            </span>
                                            <span data-switcher-text>Вкл.</span>
                                        </label>
                                    </form>
                                </td>
                                <td class="table__item">
                                    <form action="#" class="remove-form">
                                        <button class="remove-form__button">
                                            <svg class="icon">
                                                <use xlink:href="./assets/sprite.svg#icon-remove"></use>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">0007</td>
                                <td class="table__item">Название документа</td>
                                <td class="table__item">02.07.2024</td>
                                <td class="table__item table__item--fixed table__item--row">
                                    <form action="#" class="form">
                                        <label class="form__item form__item--row" data-switcher>
                                            <span class="switcher">
                                                <input hidden="" type="checkbox" checked="">
                                                <span class="switcher__block">
                                                    <span class="switcher__item"></span>
                                                </span>
                                            </span>
                                            <span data-switcher-text>Вкл.</span>
                                        </label>
                                    </form>
                                </td>
                                <td class="table__item">
                                    <form action="#" class="remove-form">
                                        <button class="remove-form__button">
                                            <svg class="icon">
                                                <use xlink:href="./assets/sprite.svg#icon-remove"></use>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">0007</td>
                                <td class="table__item">Название документа</td>
                                <td class="table__item">02.07.2024</td>
                                <td class="table__item table__item--fixed table__item--row">
                                    <form action="#" class="form">
                                        <label class="form__item form__item--row" data-switcher>
                                            <span class="switcher">
                                                <input hidden="" type="checkbox" checked="">
                                                <span class="switcher__block">
                                                    <span class="switcher__item"></span>
                                                </span>
                                            </span>
                                            <span data-switcher-text>Вкл.</span>
                                        </label>
                                    </form>
                                </td>
                                <td class="table__item">
                                    <form action="#" class="remove-form">
                                        <button class="remove-form__button">
                                            <svg class="icon">
                                                <use xlink:href="./assets/sprite.svg#icon-remove"></use>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">0007</td>
                                <td class="table__item">Название документа</td>
                                <td class="table__item">02.07.2024</td>
                                <td class="table__item table__item--fixed table__item--row">
                                    <form action="#" class="form">
                                        <label class="form__item form__item--row" data-switcher>
                                            <span class="switcher">
                                                <input hidden="" type="checkbox" checked="">
                                                <span class="switcher__block">
                                                    <span class="switcher__item"></span>
                                                </span>
                                            </span>
                                            <span data-switcher-text>Вкл.</span>
                                        </label>
                                    </form>
                                </td>
                                <td class="table__item">
                                    <form action="#" class="remove-form">
                                        <button class="remove-form__button">
                                            <svg class="icon">
                                                <use xlink:href="./assets/sprite.svg#icon-remove"></use>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
