<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section pt-80 pb-80">
        <div class="container">
            <div class="article-info">
                <div class="columns">
                    <div class="columns__col-8">
                        <div class="article-info__preview">
                            <picture class="article-info__picture">
                                <img src="./assets/images/pic-5.png" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="columns__col-4">
                        <div class="article-info__info">
                            <h2 class="title title--block">
                                О нас
                            </h2>
                            <div class="editor">
                                <p>
                                    Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс
                                    внедрения и модернизации системы обучения кадров, соответствует насущным
                                    потребностям. Равным образом новая модель организационной деятельности требуют от
                                    нас анализа систем массового участия.
                                </p>
                                <p>
                                    Повседневная практика показывает, что новая модель организационной деятельности в
                                    значительной степени обуславливает создание модели развития.
                                </p>
                                <p>
                                    Задача организации, в особенности же рамки и место обучения кадров влечет за собой
                                    процесс внедрения и модернизации соответствующий условий активизации.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="info">
                <div class="info__detail">
                    <h2 class="title title--block">Общие контактные данные</h2>
                    <p class="text">
                        Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения
                        модели развития. Задача организации, в особенности же начало повседневной работы по формированию
                        позиции играет важную роль в формировании направлений прогрессивного развития.
                    </p>
                </div>
                <ul class="addresses">
                    <li class="addresses__item">
                        <svg class="icon addresses__icon">
                            <use xlink:href="./assets/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>г. Москва, пр-кт Мира 26, оф. 404</span>
                    </li>
                    <li class="addresses__item">
                        <svg class="icon addresses__icon">
                            <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                        </svg>
                        <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                    </li>
                    <li class="addresses__item">
                        <svg class="icon addresses__icon">
                            <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                        </svg>
                        <a href="tel:+78888888888">+7 (888) 888-88-88</a>
                    </li>
                    <li class="addresses__item">
                        <svg class="icon addresses__icon">
                            <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                        </svg>
                        <a href="mailto:rusteachers@email.ru">rusteachers@email.ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pt-76 pb-120">
        <div class="container">
            <div class="head head--offset">
                <h2 class="title title--block">Персональные контактные данные</h2>
            </div>
            <div class="columns">
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                           <li class="user__item">
                               <svg class="user__icon">
                                   <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                               </svg>
                               <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                           </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                                </svg>
                                <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                            </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                                </svg>
                                <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                            </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                                </svg>
                                <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                            </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                                </svg>
                                <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                            </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                                </svg>
                                <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                            </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columns__col-6">
                    <div class="user">
                        <div class="user__info">
                            <picture class="user__picture">
                                <img src="./assets/images/user-1.png" alt="">
                            </picture>
                            <div class="user__meta">
                                <h3 class="user__title">Останин Лев Павлович</h3>
                                <p class="user__post">директор</p>
                            </div>
                        </div>
                        <ul class="user__list">
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-tel"></use>
                                </svg>
                                <a href="tel: +78888888888">+7 (888) 888-88-88</a>
                            </li>
                            <li class="user__item">
                                <svg class="user__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                                </svg>
                                <a href="mailto: rusteachers@email.ru">rusteachers@email.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
