.password-block {
  position: relative;

  &__btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;

    svg {
      display: flex;
      width: 30px;
      height: 20px;
      fill: $grayDark;
    }
  }

  &--light {
    .password-block__btn {
      svg {
        fill: $gray;
      }
    }
  }
}