.badge {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 143px;
  padding: 4px 20px;
  border-radius: 15px 15px 0 0;
  background-color: $black;

  @include r($mobile) {
    min-width: 109px;
    padding: 2px 14px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.67%, rgba(0, 0, 0, 0.2) 100%);
  }

  &--purple {
    background-color: $purple;
  }

  &--red {
    background-color: $red;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--green {
    background-color: $green;
  }

  &__text {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    text-align: left;
    color: $white;

    @include r($mobile) {
      font-size: 12px;
      line-height: 16.39px;
    }
  }
}