<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Аккаунты &gt; Иван Петров</h2>
                        <div class="head__control">
                            <a href="#" class="button button--slim button--transparent">Назад</a>
                        </div>
                    </div>
                    <ul class="lk-list mob-hidden">
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Персональные данные</a>
                        </li>
                        <li class="lk-list__item active">
                            <a href="#" class="lk-list__link">Пед. деятельность</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Документы</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Уведомления</a>
                        </li>
                    </ul>
                </div>
                <div class="lk-content__body">
                    <form class="form form--grid-desktop mb-60">
                        <label class="form__item">
                            <span class="select" data-select="">
                                <span class="select__header">
                                    <span class="select__current">2024</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="2020">2020</span>
                                    <span class="select__item" data-value="2021">2021</span>
                                    <span class="select__item" data-value="2022">2022</span>
                                    <span class="select__item" data-value="2023">2023</span>
                                    <span class="select__item" data-value="2024">2024</span>
                                </span>
                            </span>
                            <span>Год</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                    </form>
                    <div class="lk-content__table">
                        <table class="table table--between">
                            <thead class="table__header">
                            <tr class="table__line">
                                <th class="table__item table__item--head">Месяц</th>
                                <th class="table__item table__item--head">Дата загрузки</th>
                                <th class="table__item table__item--head">Статус</th>
                                <th class="table__item table__item--head">Скачать</th>
                            </tr>
                            </thead>
                            <tbody class="table__body">
                            <tr class="table__line">
                                <td class="table__item">Январь</td>
                                <td class="table__item">03.06.2024</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Февраль</td>
                                <td class="table__item">01.06.2023</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Март</td>
                                <td class="table__item">01.05.2023</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Апрель</td>
                                <td class="table__item">01.07.2022</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Май</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Июнь</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Июль</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Август</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--approved">Отправлен</td>
                                <td class="table__item">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Сентябрь</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--confirm">Не отправлен</td>
                                <td class="table__item"></td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Октябрь</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--confirm">Не отправлен</td>
                                <td class="table__item"></td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Ноябрь</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--confirm">Не отправлен</td>
                                <td class="table__item"></td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Декабрь</td>
                                <td class="table__item">01.03.2022</td>
                                <td class="table__item table__item--confirm">Не отправлен</td>
                                <td class="table__item"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
