.login-form {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    span {
      font-family: $font-second;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: $gray;
    }
  }
}