<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Педагогическая деятельность</h2>
                    </div>
                    <ul class="lk-list lk-list--mob desktop-hidden">
                        <li class="lk-list__select">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">2024</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="2020">2020</span>
                                    <span class="select__item" data-value="2021">2021</span>
                                    <span class="select__item" data-value="2022">2022</span>
                                    <span class="select__item" data-value="2023">2023</span>
                                    <span class="select__item" data-value="2024">2024</span>
                                </span>
                            </span>
                        </li>
                        <li class="lk-list__select">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">Сентябрь</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="2020">2020</span>
                                    <span class="select__item" data-value="2021">2021</span>
                                    <span class="select__item" data-value="2022">2022</span>
                                    <span class="select__item" data-value="2023">2023</span>
                                    <span class="select__item" data-value="2024">2024</span>
                                </span>
                            </span>
                        </li>
                    </ul>
                    <ul class="lk-list lk-list--outer mob-hidden">
                        <li class="lk-list__select">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">2024</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="2020">2020</span>
                                    <span class="select__item" data-value="2021">2021</span>
                                    <span class="select__item" data-value="2022">2022</span>
                                    <span class="select__item" data-value="2023">2023</span>
                                    <span class="select__item" data-value="2024">2024</span>
                                </span>
                            </span>
                        </li>
                        <li class="lk-list__item active">
                            <a href="#" class="lk-list__link">Январь</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Февраль</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Март</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Апрель</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Май</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Июнь</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Июль</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Август</a>
                        </li>
                        <li class="lk-list__item feature">
                            <span class="lk-list__link">Сентябрь</span>
                        </li>
                        <li class="lk-list__item feature">
                            <span class="lk-list__link">Октябрь</span>
                        </li>
                        <li class="lk-list__item feature">
                            <span class="lk-list__link">Ноябрь</span>
                        </li>
                        <li class="lk-list__item feature">
                            <span class="lk-list__link">Декабрь</span>
                        </li>
                    </ul>
                </div>
                <div class="lk-content__body">
                    <form class="form form--grid-desktop">
                        <label class="form__item">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">2024</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="2020">2020</span>
                                    <span class="select__item" data-value="2021">2021</span>
                                    <span class="select__item" data-value="2022">2022</span>
                                    <span class="select__item" data-value="2023">2023</span>
                                    <span class="select__item" data-value="2024">2024</span>
                                </span>
                            </span>
                            <span>Страна</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">Август</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="September">Сентябрь</span>
                                    <span class="select__item" data-value="October">Октябрь</span>
                                    <span class="select__item" data-value="November">Ноябрь</span>
                                </span>
                            </span>
                            <span>Город</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <input type="text" class="input">
                            <span>Педагогическая организация</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <input type="number" class="input">
                            <span>Общее число обучающихся в школе</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">Август</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="September">Сентябрь</span>
                                    <span class="select__item" data-value="October">Октябрь</span>
                                    <span class="select__item" data-value="November">Ноябрь</span>
                                </span>
                            </span>
                            <span>Предмет</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <input type="number" class="input">
                            <span>Количество проведённых уроков за месяц</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <div class="form__item form__item--grid">
                            <label class="form__item">
                                <input type="number" class="input">
                                <span>Число классов</span>
                                <span class="form__error">Неправильный формат</span>
                            </label>
                            <label class="form__item">
                                <input type="number" class="input">
                                <span>Всего учеников</span>
                                <span class="form__error">Неправильный формат</span>
                            </label>
                        </div>
                        <label class="form__item">
                            <span class="select" data-select>
                                <span class="select__header">
                                    <span class="select__current">Август</span>
                                    <svg class="select__icon">
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="September">Сентябрь</span>
                                    <span class="select__item" data-value="October">Октябрь</span>
                                    <span class="select__item" data-value="November">Ноябрь</span>
                                </span>
                            </span>
                            <span>Количество нагрузки</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Участие обучающихся в международных олимиадах</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Число победителей и призеров (1, 2 или 3 место) олимпиад</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Организованные и проведенные культурно-просветительские мероприятия</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Организация конференций и семинаров или участие в таковых</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Участие в конкурсах пд. мастерства</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Количество организованных и проведенных мероприятий по профориентации</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <strong class="form__title">Данные о квалификации</strong>
                            <input type="number" class="input">
                            <span>Количество</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <input type="number" class="input">
                            <span>Участие в образовательных мероприятиях</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <input type="number" class="input">
                            <span>Пройдено КПК</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <button class="form__button form__button--left button button--slim button--green">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
