<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section pt-68 pb-100">
        <div class="container">
            <div class="head">
                <h2 class="title">Восстановление пароля</h2>
            </div>
            <div class="columns">
                <div class="columns__col-7">
                    <div class="editor mb-40">
                        <p>
                            Введите ваш адрес электронной почты, мы вышлем письмо с инструкциями.
                        </p>
                    </div>
                    <form class="form">
                        <label class="form__item">
                            <input type="email" class="input">
                            <span>Электронная почта</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <button class="form__button button button--slim">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
