<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Анкета соискателя</h2>
                    </div>
                </div>
                <div class="lk-content__body">
                    <div class="lk-content__table">
                        <table class="table table--center table--between">
                            <thead class="table__header">
                            <tr class="table__line">
                                <th class="table__item table__item--head">ID</th>
                                <th class="table__item table__item--head">Дата загрузки</th>
                                <th class="table__item table__item--head">Скачать</th>
                            </tr>
                            </thead>
                            <tbody class="table__body">
                            <tr class="table__line">
                                <td class="table__item">005</td>
                                <td class="table__item">03.06.2024</td>
                                <td class="table__item table__item--row">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">004</td>
                                <td class="table__item">01.06.2024</td>
                                <td class="table__item table__item--row">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">003</td>
                                <td class="table__item">01.05.2024</td>
                                <td class="table__item table__item--row">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">002</td>
                                <td class="table__item">01.04.2024</td>
                                <td class="table__item table__item--row">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">001</td>
                                <td class="table__item">01.03.2024</td>
                                <td class="table__item table__item--row">
                                    <a href="#" class="button button--short">Скачать</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
