.custom-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 2px solid $black;

  .tags {
    flex-shrink: 0;
    flex-wrap: wrap;

    @include r($mobile) {
      flex-shrink: 1;
    }
  }

  .input {
    border: none;
  }
}