.slider {
  &[data-slider="default"] {
    .swiper-slide {
      @include r($mobile) {
        width: 290px !important;
      }
    }
    .swiper {
      @include r($mobile) {
        overflow: visible;
      }
    }
  }

  &--auto {
    .swiper-slide {
      width: auto !important;

      @include r($mobile) {

      }
    }
  }

  &--grid {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
}