<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Публикации > Создание</h2>
                    </div>
                    <a href="#" class="button">Назад</a>
                </div>
                <div class="lk-content__body">
                    <div class="tag mb-55">Новость / Анонс</div>
                    <!-- <div class="tag tag--red mb-55">Вебинар</div> -->
                    <!-- <div class="tag tag--green mb-55">Курсы</div> -->
                    <form class="form">
                        <label class="form__item">
                            <input type="text" class="input" placeholder="Введите заголовок">
                            <span>Заголовок</span>
                            <span class="form__error">Пожалуйста, введите тему</span>
                        </label>
                        <div class="form__item">
                            <div class="file-block">
                                <span class="file-block__text">Загрузить</span>
                                <label class="button button--short">
                                    Выбрать файл
                                    <input type="file" hidden multiple>
                                </label>
                            </div>
                            <div class="uploaded-list">
                                <!-- Генерация на стороне JS -->
<!--                                <div class="uploaded-list__item">-->
<!--                                    <picture class="uploaded-list__picture">-->
<!--                                        <img src="./assets/images/pic-1.png" alt="">-->
<!--                                    </picture>-->
<!--                                    <button class="uploaded-list__remove" type="button">Удалить</button>-->
<!--                                </div>-->
                            </div>
                            <span>Изображения</span>
                            <span class="form__error">Пожалуйста, введите имя</span>
                        </div>
                        <label class="form__item">
                            <textarea class="input input--area"></textarea>
                            <span>Описание</span>
                            <span class="form__error">Неправильный формат</span>
                        </label>
                        <label class="form__item">
                            <span class="custom-tags">
                                <span class="tags">

                                </span>
                                <input type="text" class="input" placeholder="">
                            </span>
                            <span>Теги</span>
                            <span class="form__error">Пожалуйста, введите теги</span>
                        </label>
                        <label class="form__item form__item--row">
                            <input type="checkbox" class="checkbox" placeholder="">
                            <span>Анонс</span>
                        </label>
                        <div class="form__control">
                            <button class="button button--slim">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
