.form {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;

    .form__item {
      grid-column: span 1;
    }

    .article-doc {
      grid-column: span 2;
    }

    .button {
      grid-column: span 2;
    }

    &-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px 30px;

      @include r($mobile) {
        grid-template-columns: 1fr;
      }

      .form__item {
        grid-column: span 1;
      }

      .article-doc {
        grid-column: span 2;
        @include r($mobile) {
          grid-column: span 1;
        }
      }

      .button {
        grid-column: span 2;
        @include r($mobile) {
          grid-column: span 1;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--offset {
      gap: 40px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    span {
      font-family: $font-second;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: $grayDark;
      transition: .2s linear;

      a {
        color: $blue;
        text-decoration: underline;
      }

      &.form__status {
        display: flex;
        align-items: center;
        min-height: 40px;
        font-family: $font-second;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
      }
    }

    small {
      margin-top: 10px;
      font-family: $font-second;
      font-size: 14px;
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: $grayDark;
    }

    .button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &.error {
      .form__error {
        margin-bottom: 20px;
        height: auto;
      }

      span {
        color: $red;
      }

      .input {
        border-color: $red;
        color: $red;
      }
    }

    &--block {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      width: 100%;
      min-height: 80px;
      padding: 28px 60px;
      border: 1px solid $grayLight;
      border-radius: 25px;
      cursor: pointer;

      @include shadow-color-small();

      @include r($mobile) {
        gap: 21px;
        padding: 20px 20px 20px 13px;
        min-height: 120px;
      }

      span {
        font-family: $font-second;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: $black;

        @include r($mobile) {
          font-size: 12px;
        }
      }
    }

    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    &--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      &-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
      }
    }

    &--row {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }

  &__button {
    margin: 20px auto 0;
    min-width: 309px;

    &[disabled] {
      background-color: $gray;
      pointer-events: none;
      border-color: $gray;
    }

    &--left {
      margin-left: 0;
      min-width: 169px;

      @include r($mobile) {
        margin-left: auto;
      }
    }
  }

  &__error {
    height: 0;

    font-family: $font-second;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: $red;

    overflow: hidden;
    transition: .2s linear;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 63px;
    margin-top: 20px;

    @include r($mobile) {
      gap: 10px;
      justify-content: space-between;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    min-height: 120px;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-decoration: underline;
    color: $red;
    background-color: $white;
    border-radius: 25px;
    border: 1px solid $grayLight;
    cursor: pointer;

    @include shadow-color-small();

    @include r($mobile) {
      min-height: 80px;
    }
  }

  &__description {
    grid-column: span 2;
    margin-bottom: -40px;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: $grayDark;
  }

  &__title {
    order: 1;
    margin-bottom: 20px;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: $grayDark;
  }
}