.message {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  min-width: 318px;
  max-width: 550px;
  padding: 14px 30px;
  border-radius: 25px;
  background-color: $grayLight;

  @include r($mobile) {
    width: 100%;
  }

  &__file {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  &__picture {
    display: flex;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
  }

  &__time {
    position: absolute;
    right: 20px;
    bottom: 8px;
    font-family: $font-second;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $blue;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__text {
    @include text($grayDark, $font-second);
    font-weight: 600;
  }

  &__size {
    @include text($grayDark, $font-second);
  }

  &__comment {
    @include text($grayDark, $font-second);
  }
}