<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Аккаунты &gt; Мария Иванова</h2>
                        <div class="head__control">
                            <a href="#" class="button button--slim button--transparent">Назад</a>
                        </div>
                    </div>
                    <ul class="lk-list mob-hidden">
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Персональные данные</a>
                        </li>
                        <li class="lk-list__item active">
                            <a href="#" class="lk-list__link">Обратная связь модератора</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Уведомление</a>
                        </li>
                    </ul>
                </div>
                <div class="lk-content__body">
                    <div class="lk-content__meta mb-80">
                        <span class="select select--center select--middle" data-select="" data-select-async>
                                <span class="select__header" data-title="year" data-current-value="">
                                    <span class="select__current">Год</span>
                                    <svg class="select__icon">
                                        <use
                                            xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="2020">2020</span>
                                    <span class="select__item" data-value="2021">2021</span>
                                    <span class="select__item" data-value="2022">2022</span>
                                    <span class="select__item" data-value="2023">2023</span>
                                    <span class="select__item" data-value="2024">2024</span>
                                </span>
                            </span>
                        <span class="select select--center select--middle" data-select="" data-select-async>
                                <span class="select__header" data-title="month" data-current-value="">
                                    <span class="select__current">Месяц</span>
                                    <svg class="select__icon">
                                        <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </span>
                                <span class="select__content">
                                    <span class="select__item" data-value="01">Январь</span>
                                    <span class="select__item" data-value="02">Февраль</span>
                                    <span class="select__item" data-value="03">Март</span>
                                    <span class="select__item" data-value="04">Апрель</span>
                                    <span class="select__item" data-value="05">Май</span>
                                    <span class="select__item" data-value="06">Июнь</span>
                                    <span class="select__item" data-value="07">Июль</span>
                                    <span class="select__item" data-value="08">Август</span>
                                    <span class="select__item" data-value="09">Сентябрь</span>
                                    <span class="select__item" data-value="10">Октябрь</span>
                                    <span class="select__item" data-value="11">Ноябрь</span>
                                    <span class="select__item" data-value="12">Декабрь</span>
                                </span>
                            </span>
                        <a href="#" download class="button button--slim">Скачать статистику</a>
                    </div>
                    <div class="lk-content__table">
                        <table class="table table--big">
                            <thead class="table__header">
                            <tr class="table__line">
                                <th class="table__item table__item--head">Отправитель</th>
                                <th class="table__item table__item--head">Получатель</th>
                                <th class="table__item table__item--head">Тема</th>
                                <th class="table__item table__item--head">Дата создания</th>
                                <th class="table__item table__item--head">Статус</th>
                                <th class="table__item table__item--head">Тип</th>
                                <th class="table__item table__item--head">Просмотр</th>
                            </tr>
                            </thead>
                            <tbody class="table__body" data-async>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">Помощь</td>
                                <td class="table__item" data-date="">08.11.2024 15:30</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=165" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">тест</td>
                                <td class="table__item" data-date>08.11.2024 15:39</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=166" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">Новое 1111</td>
                                <td class="table__item" data-date>08.11.2023 15:50</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=167" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">Тест</td>
                                <td class="table__item" data-date>08.11.2024 15:51</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=168" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">Тест</td>
                                <td class="table__item" data-date>08.11.2024 16:01</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=169" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">Тестовая рассылка</td>
                                <td class="table__item" data-date>08.11.2024 16:10</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=170" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Артем Фролов</td>
                                <td class="table__item">Евгений Кормилицын</td>
                                <td class="table__item">Test 1111</td>
                                <td class="table__item" data-date>08.10.2024 16:24</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="./detail/?id=9&amp;chat_id=173" class="chat ">
                                        <svg class="chat__icon">
                                            <use xlink:href="/local/templates/russian-teacher.dnt-digital.ru/assets/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
