<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.headerLk %>
<main class="main">
    <section class="section">
        <div class="lk">
            <%= htmlWebpackPlugin.options.widgets.lkNav %>
            <div class="lk-content">
                <div class="lk-content__header">
                    <div class="head head--lk">
                        <h2 class="title">Аккаунты &gt; Мария Иванова</h2>
                        <div class="head__control">
                            <a href="#" class="button button--slim button--transparent">Назад</a>
                        </div>
                    </div>
                    <ul class="lk-list mob-hidden">
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Персональные данные</a>
                        </li>
                        <li class="lk-list__item active">
                            <a href="#" class="lk-list__link">Обратная связь модератора</a>
                        </li>
                        <li class="lk-list__item">
                            <a href="#" class="lk-list__link">Уведомление</a>
                        </li>
                    </ul>
                </div>
                <div class="lk-content__body">
                    <div class="lk-content__meta mb-80">
                        <span class="select select--center select--small" data-select>
                            <span class="select__header" data-title="ACCOUNT_TYPE">
                                <span class="select__current">2024</span>
                                <svg class="select__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                </svg>
                            </span>
                            <span class="select__content">
                                <span class="select__item" data-value="Admin">2024</span>
                                <span class="select__item" data-value="Moder_1">2023</span>
                                <span class="select__item" data-value="Moder_2">2022</span>
                                <span class="select__item" data-value="Moder_3">2021</span>
                                <span class="select__item" data-value="Psycho">2020</span>
                            </span>
                        </span>
                        <span class="select select--center select--middle" data-select>
                            <span class="select__header" data-title="ACCOUNT_TYPE">
                                <span class="select__current">Июнь</span>
                                <svg class="select__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                </svg>
                            </span>
                            <span class="select__content">
                                <span class="select__item" data-value="Admin">Администратор</span>
                                <span class="select__item" data-value="Moder_1">Модератор Тип: 1</span>
                                <span class="select__item" data-value="Moder_2">Модератор Тип: 2</span>
                                <span class="select__item" data-value="Moder_3">Модератор Тип: 3</span>
                                <span class="select__item" data-value="Psycho">Психолог</span>
                            </span>
                        </span>
                        <a href="#" download class="button button--slim">Скачать статистику</a>
                    </div>
                    <div class="lk-content__table">
                        <table class="table table--between">
                            <thead class="table__header">
                            <tr class="table__line">
                                <th class="table__item table__item--head">Преподаватель</th>
                                <th class="table__item table__item--head">Тема</th>
                                <th class="table__item table__item--head">Дата создания</th>
                                <th class="table__item table__item--head">Статус</th>
                                <th class="table__item table__item--head">Тип</th>
                                <th class="table__item table__item--head">Просмотр</th>
                            </tr>
                            </thead>
                            <tbody class="table__body">
                            <tr class="table__line">
                                <td class="table__item">Иван Петров</td>
                                <td class="table__item">Не следует, однако забывать</td>
                                <td class="table__item">03.06.2024</td>
                                <td class="table__item table__item--bold table__item--wait">Идёт переписка</td>
                                <td class="table__item table__item--bold">Помощь</td>
                                <td class="table__item table__item--chat">
                                    <a href="#" class="table__visible">
                                        <svg class="icon icon--blue">
                                            <use xlink:href="./assets/sprite.svg#icon-eye"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Иван Петров</td>
                                <td class="table__item">Не следует, однако забывать</td>
                                <td class="table__item">03.06.2024</td>
                                <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                                <td class="table__item table__item--bold">Жалоба</td>
                                <td class="table__item table__item--chat">
                                    <a href="#" class="table__visible">
                                        <svg class="icon icon--blue">
                                            <use xlink:href="./assets/sprite.svg#icon-eye"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr class="table__line">
                                <td class="table__item">Иван Петров</td>
                                <td class="table__item">Не следует, однако забывать</td>
                                <td class="table__item">03.06.2024</td>
                                <td class="table__item table__item--bold table__item--confirm">Завершено</td>
                                <td class="table__item table__item--bold">Отпуск</td>
                                <td class="table__item table__item--chat">
                                    <a href="#" class="table__visible">
                                        <svg class="icon icon--blue">
                                            <use xlink:href="./assets/sprite.svg#icon-eye"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
